line-length = 88
indent-width = 4
target-version = "py311"

[format]
quote-style = "double"
indent-style = "space"
line-ending = "auto"

[lint]
select = [
    "E",   # pycodestyle errors
    "F",   # pyflakes
    "I",   # import sorting
    "B",   # bugbear
    "UP",  # pyupgrade
]
ignore = [
    "E501",  # Ruff will handle line-length automatically
]

[lint.isort]
combine-as-imports = true
